<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editing {{.Provider.Name}}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
<div>
    <h1>SMTPorter</h1>
    <p><a href="../">&lArr;&nbsp;Back to list</a></p>
    <h2>Editing provider <i>{{.Provider.Name}}</i></h2>
    {{if .Saved}}
    <p style="color: green">Saved successfully</p>
    {{end}}
    <form action="" method="POST">
        <div>
            <label for="provider-addr">Server Address (with port)</label>
            <input id="provider-addr" name="addr" type="text" placeholder="localhost:25" value='{{.Provider.Addr}}'>
        </div>
        <div>
            <label for="provider-enabled">Enable Provider</label>
            <input id="provider-enabled" name="enabled" type="checkbox" {{if .Provider.Enabled}}checked="checked"{{end}}>
        </div>
        <div>
            <label for="provider-auth-enabled">Enable Authentication</label>
            <input id="provider-auth-enabled" name="auth" type="checkbox" {{if .Provider.AuthEnabled}}checked="checked"{{end}}>
        </div>
        <div>
            <label for="provider-auth-host">Hostname</label>
            <input id="provider-auth-host" name="host" type="text" placeholder="localhost" value='{{.Provider.Host}}'>
        </div>
        <div>
            <label for="provider-auth-username">Username</label>
            <input id="provider-auth-username" name="username" type="text" placeholder="sam.porter.bridges@example" value='{{.Provider.Username}}'>
        </div>
        <div>
            <label for="provider-auth-password">Password</label>
            <input id="provider-auth-password" name="password" type="password" value='{{.Provider.Password}}'>
        </div>
        <hr>
        <h3>Webhook configuration</h3>
        <p>
            The webhook options below are only relevant if webhook handling is enabled.
            <br>
            Webhook functionality relies on plugins in order to offer maximum flexibility.
            <br><br>
            Please refer to the <a href="https://codeberg.org/seizeheures/smtporter#environment-variables" target="_blank">documentation</a> for details.
        </p>
        <div>
            <label for="provider-webhook-enabled">Enable Webhook</label>
            <input id="provider-webhook-enabled" name="webhook" type="checkbox" {{if .Provider.WebhookEnabled}}checked="checked"{{end}}>
        </div>
        <div>
            <label for="provider-webhook-plugin">Webhook plugin name</label>
            <input id="provider-webhook-plugin" name="webhook-plugin-name" type="text" placeholder="my-plugin" value="{{.Provider.WebhookPluginName}}">
        </div>
        <div><input type="submit" value="Save"></div>
    </form>
</div>
</body>
</html>