<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SMTPorter</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
</head>
<body>
<div>
    <h1>SMTPorter</h1>
    {{if .Saved}}
    <p style="color: green">Saved successfully</p>
    {{end}}
    <h2>Selected Provider</h2>
    <form action="{{.BaseURL}}/use-provider" method="post">
        <label for="provider-select">Provider to use</label>
        <select name="provider" id="provider-select">
            {{range .Settings.Providers}}
            <option value="{{ .Name }}" {{if eq $.Settings.SelectedProviderName .Name}}selected{{end}}>{{ .Name }} ({{ .Addr }})</option>
            {{end}}
        </select>
        <button type="submit">Save</button>
    </form>
    
    <h2>Providers</h2>
    <p><a href="{{.BaseURL}}/create-provider">Create provider</a></p>
    {{range .Settings.Providers}}
        <p>{{ .Name }} - {{ .Addr }} - <a href="{{$.BaseURL}}/provider/{{ .Name }}">edit</a>
<!--    <form action="/provider/{{ .Name }}/delete" method="post" onsubmit="return confirm('Delete provider {{ .Name }}?')"><button type="submit">delete</button></form></p>-->
    {{else}}
        <div><strong>no providers (this should never happen!!)</strong></div>
    {{end}}
</div>
</body>
</html>